<p id="notice"><%= notice %></p>

<div class="content-box">
  <p>
    <strong>Name:</strong>
    <%= @post.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p>
</div>
  <br>
<span class="btn btn-default"><%= link_to 'Edit', edit_post_path(@post) %></span> |
<span class="btn btn-default"><%= link_to 'Back', posts_path %></span>
